<section>

    <form name="notasForm" ng-submit="vm.setNewNota()" novalidate>
        <div>
            <label>Nota</label>
            <input name="nota" ng-model="vm.newNota" type="text" required>
            <span ng-show="notasForm.nota.$invalid && notasForm.nota.$dirty">Este campo es requerido</span>
            <span ng-show="vm.notaRepetida">Nota: la nota ya existe!</span>
        </div>
        <select ng-options="tipo for tipo in vm.tipos" ng-model="vm.tipo">
            <option value="">Nada seleccionado</option>
        </select>
        <button type="submit">Agregar</button>
    </form>

    <article ng-repeat="nota in vm.notas">
        <span>{{nota}}</span>
    </article>

</section>